.clock-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #ffffff15;
  border-radius: 16px;
  padding: 30px 50px 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* animation */
  animation: fadeIn 1s ease-in-out;
}

.heading {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  position: relative;
}

/* AFTER pseudo element */
.heading::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: red;
  margin-top: 5px;
  transition: width 0.4s ease;
}

/* hover effect for heading underline */
.heading:hover::after {
  width: 100%;
}

.time,
.date,
.date-time {
  color: white;
  font-size: 60px;
  margin: 20px;
  transition: all 0.3s ease;
  position: relative;
}

/* HOVER EFFECT */
.date-time:hover {
  color: red;
  transform: scale(1.1);
}
.time:hover {
  color: red;
  transform: scale(1.1);
}

.date:hover {
  color: red;
  transform: scale(1.1);
}

/* glowing effect using after */
.date-time::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: red;
  transition: width 0.3s ease;
}

.date-time:hover::after {
  width: 100%;
}
.time:hover::after {
  width: 100%;
}
.date:hover::after {
  width: 100%;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
